
@media screen and (max-width: 750px) {
	body {
		background: #141414;
		width: 100%;
		height: 100%;
		padding: none;
		margin: 0px;
	}	
	.ux3Mn8LKUg11IZ1F4aFw {
		z-index: 0;
		width: 100%;
		padding: inherit;
		margin: 0px;
		/* height: 100px; */
	}
	.va8OmSfBPgEGnlfWZDXK {
		z-index: 1;
		position: absolute;
		color:black;
		outline:black;
		outline-style: double;
		font-size: 33px;
		font-weight: 900;
		top: 20px;
		width: 100%;
		text-align: center;
		background-color: rgba(153, 153, 153, 0.5);
	}

	._Lrxk8OgsU1yNkAJq1RP {
		width: 90%;
		padding-left: 14px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.lBDVxMs3vN5Ns0h2WOxQ {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
	}

	.mwZqpoH3yfCgazF1u1Qp {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
	}

	.YYNQwJSre1K9_AJaOU0a {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
	}

	.EYkiVbMYd_WiIVddIjwn{
		position: absolute;
		margin-top: 14px;
		margin-left: auto;
		margin-right: auto;
		padding: 8px;
		left: 0;
		right: 0;
		text-align: center;	
		line-height: 200%;	
		width: 89%;
		font-size: 22px;
		font-weight: 600;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		color: rgba(153, 153, 153, 1);
		outline:rgba(153, 153, 153, 1);
		outline-style: double;
	}
}

