
@media screen and (max-width: 800px) {
	body {
		background: #141414;
		width: 100%;
		height: 110vh;
		padding: none;
		margin: 0px;
	}	
	.headerImg {
		z-index: 0;
		width: 100%;
		padding: inherit;
		margin: 0px;
	}
	.title {
		z-index: 1;
		position: absolute;
		color:black;
		outline:black;
		outline-style: double;
		font-size: 33px;
		font-weight: 900;
		top: 0.9em;
		width: 100%;
		text-align: center;
		background-color: rgba(153, 153, 153, 0.5);
	}
	.btnContainer {
		width: 97%;
		justify-content: center;
		flex-direction: row;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.aboutSwipe {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
		flex-grow: 1;
		background: none;
		border: none;
	}
	.photoSwipe {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
		flex-grow: 1;
		background: none;
		border: none;
	}
	.infoSwipe {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-size: 22px;
		font-weight: 600;
		color: darkgray;
		flex-grow: 1;
		background: none;
		border: none;
	}
	.about{
		box-sizing: border-box;
		margin: 14px auto;
		
		left: 0;
		right: 0;
		padding: 8px;
		text-align: center;	
		line-height: 200%;	
		width: 89%;
		font-size: 22px;
		font-weight: 600;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		color: rgba(153, 153, 153, 1);
		outline:rgba(153, 153, 153, 1);
		outline-style: double;
	}
	.footer {
		height: 10px;
		width: 100;
	}
	.photos{
		display: none;
		box-sizing: border-box;
		margin: 14px auto;
		padding: 8px;
		width: 89%;
		outline:rgba(153, 153, 153, 1);
		outline-style: double;
	}
	.photo {
		max-width: 100%;
		box-sizing: border-box;
    	height: auto;
	}
}

